In [1]:
import pandas as pd

In [2]:
partidas = pd.read_csv('events_clean.csv')
partidas.head()

,timestamp,x_5,y_5,x_15,y_15,x_16,y_16,x_19,y_19,x_30,...,x_47,y_47,x_46,y_46,x_60,y_60,x_64,y_64,x_73,y_73
0,3232387,-1.108,0.155,-45.583,-0.254,-15.173,7.564,-15.845,-4.697,-11.883,...,14.344,6.372,14.353,-2.178,9.481,0.167,3.442,-13.896,-0.249,8.613
1,3232487,-1.159,0.102,-45.490,-0.248,-15.183,7.560,-15.820,-4.714,-11.813,...,14.344,6.369,14.351,-2.193,9.483,0.174,3.437,-13.939,-0.250,8.608
2,3232587,-1.203,0.068,-45.395,-0.247,-15.195,7.555,-15.795,-4.731,-11.736,...,14.347,6.362,14.341,-2.221,9.482,0.174,3.432,-13.983,-0.258,8.582
3,3232687,-1.226,0.054,-45.299,-0.251,-15.208,7.550,-15.770,-4.749,-11.653,...,14.352,6.354,14.324,-2.264,9.476,0.165,3.427,-14.030,-0.277,8.526
4,3232787,-1.251,0.039,-45.201,-0.262,-15.222,7.546,-15.744,-4.768,-11.562,...,14.356,6.347,14.299,-2.317,9.465,0.147,3.423,-14.079,-0.307,8.435

In [25]:
pivot_partidas = pd.DataFrame(columns=['time','x','y','team'])

In [27]:
for ii in range(len(partidas)):
    if ii%100 == 0:
        print(ii)
    pivot_partidas.loc[len(pivot_partidas)]=[partidas.iloc[ii][0],partidas.iloc[ii][1],partidas.iloc[ii][2],'ball']
    for jj in range(0,11):
        pivot_partidas.loc[len(pivot_partidas)]=[partidas.iloc[ii][0],partidas.iloc[ii][3+2*jj],partidas.iloc[ii][4+2*jj],'team1']
        pivot_partidas.loc[len(pivot_partidas)]=[partidas.iloc[ii][0],partidas.iloc[ii][25+2*jj],partidas.iloc[ii][26+2*jj],'team2']

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400
23500
23600
23700
23800
23900
24000
24100
24200
24300
24400
24500
24600
24700
24800
24900
25000
25100
25200
25300
25400
25500
25600
25700
25800
25900
26000
26100
26200
26300
26400
26500
26600
26700
26800
26900
27000
27100
27200
27300
27400
27500
27600
27700
27800
27900
28000
28100
28200
28300
28400
28500
28600
28700
28800
28900
29000
29100
29200
29300
29400
29500
29600
29700
29800
29900
30000
30100
30200
30300
30400
30500
30600
30700
30800
30900
31000
31100
31200
31300
31400
31500
31600
31700
31800
31900
32000
32100
32200
32300
32400
32500
32600
32700
32800
32900
33000
33100
33200
33300
33400
33500
33600
33700
33800
33900
34000
34100
34200
34300
34400
34500
34600
34700
34800
34900
35000
35100
35200
35300
35400
35500
35600
35700
35800
35900
36000
36100
36200
36300
36400
36500
36600
36700
36800
36900
37000
37100
37200
37300
37400
37500
37600
37700
37800
37900
38000
38100
38200
38300
38400
38500
38600
38700
38800
38900
39000
39100
39200
39300
39400
39500
39600
39700
39800
39900
40000
40100
40200
40300
40400
40500

In [28]:
pivot_partidas.tail()

             time       x       y   team
933173  8227387.0  13.090 -12.882  team2
933174  8227387.0   3.310   5.370  team1
933175  8227387.0  10.562   9.703  team2
933176  8227387.0  15.074  -3.787  team1
933177  8227387.0  24.769  -5.361  team2

In [29]:
pivot_partidas.to_csv('pivot_events.csv',index=False)

In [24]:
len(partidas)*23

932098